html{
  box-sizing: border-box;
  height: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', sans-serif;
}

body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFF;
}

ul{
   list-style-type: none;
}

a{
   text-decoration: none;
   color: inherit;
}

.wrapper{
   min-height: 100%;
   display: flex;
   flex-direction: column;
}
.container{ 
   max-width: 1060px;
   margin: 0 auto;
   padding: 0 10px;
}


.header__inner{
  padding-top: 21px;
  padding-bottom: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list{
   display: flex;
   gap: 47px;
}
 
.menu__list-link{
   color: #FFC9C9;
   font-weight: 400;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 400;
}


section{
  position: relative;  
  height: 590px;
  width: 1140px;
  display: flex;
  align-items: center;
}

.swiper{
  width: 940px;
}

.card{
  position: relative;
  background: #fff;
  overflow: hidden;
  border-radius: 62px;
  height: 520px;
  width: 320px;
  margin: 20px 0;
  border: 3px solid #4036ED ;

}

.card::before{
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: white;
 
}

.card .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

section .card .image{
  height: 250px;
  width: 250px;
  border-radius: 10%;
  margin-top: 30px;
}

section .card .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10%;
  border: 3px solid #fff;
}

.card .icons{
  position: absolute;
  top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card .name-age{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  color: #4036ED;
  font-family: 'Playfair Display', sans-serif;
} 

.name-age .name{
  font-size: 24px;
  font-weight: 500;
}

.chat{
  position: absolute;
  right:0;
  top:330px;
  margin-right:5px;
}

.card .button{
  width: 100%;
  justify-content: space-around;
  margin-top: 45px;
  user-select: none;
  line-height: 1.5;
  text-align: center;
  gap:10px;
  display: flex;
  justify-content: space-around;
  
}

.card .Profile{
  background: #4036ED;
  color: #fff;
}

.card .Delete{
  background: #FF6668;
  color: #fff;
}

.card .button button{
  outline: none;
  border: none;
  padding: 15px 42px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 500;
  font-family: Montserrat;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button button:hover{
  opacity: .8;
  cursor: pointer;
  text-decoration: none;
}

.swiper-pagination{
  position: absolute;
  top: 450px;
}

.swiper-pagination-bullet{
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: #4036ED;
}

.swiper-button-next, .swiper-button-prev{
  color: #4036ED;
  opacity: .8;
  transition: all 0.3s ease;
}

.swiper-button-next:hover, .swiper-button-prev:hover{
  opacity: .5;

}

